$colors: (
  primary: #901c1c,
  primary-font: #d3573c,
  secondary: #d3573c,
  secondary-font-black: #525252,
  secondary-font-red: #901c1c,
  secondary-white: #fafafa,
  background-modal: #db8876
);

$font-size: (
  mobile: 13px,
  mobile-big: 30px,
  mobile-medium: 17px,
  mobile-small: 10px,
  mobile-extra: 33px,
  mobile-mediumBig: 25px
);

$margin: (
  mobile-horizon: 25px,
  mobile-vertical: 30px,
  desktop-horizon: 50px
);
