$colors: (
    primary: #901C1C,
    primary-font:#D3573C,

    secondary: #D3573C,
    secondary-font-black: #525252,
    secondary-font-red: #901c1c,
    secondary-white: #FAFAFA
);

$font-size: (
    mobile: 13px, 
    mobile-big: 30px,
    mobile-small: 10px
);

$margin: (
    mobile-horizon: 25px,
    mobile-vertical: 30px
)