.media-photograph {
  margin: 0 5vw 5px 5vw;
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  @include desktop_format-photographer {
    width: 25vw;
    margin: 10px 0;
  }
  &__media {
    @include image(50vw, 90vw);
    border-radius: 5px;
    cursor: pointer;
    @include desktop_format-photographer {
      height: 25vw;
      width: 25vw;
    }
  }
  &__text-container {
    @include TextEllipsis;
    flex-grow: 1;
    display: flex;
  }
  &__description {
    @include TextEllipsis;
    flex-grow: 1;
  }
  &__icon {
    margin-top: -5px;
    height: 30px;
    cursor: pointer;
  }
}
