.contact-modal {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    z-index: 200;
    width: 100vw;
    height: 100vh;
    background-color: white;
    top: 0;
    left: 0;
    background-color: map-get($map: $colors, $key: background-modal);
    &__title {
        max-width: 80vw;
        margin: 2vh 0 0 5vw;
        font-size: map-get($map: $font-size, $key: mobile-extra);
        color: black;
    }
    &__cross {
        color: white;
        margin: 2vh 0 0 5vw;
        font-size: map-get($map: $font-size, $key: mobile-big);
        justify-self: right;
    }
    &__label {
        width: 90vw;
        margin: 2vh 5vw 1vh 5vw;
        font-size: map-get($map: $font-size, $key: mobile-mediumBig);
        color: black;
        vertical-align: bottom;
    }
    &__input {
        width: 90vw;
        height: 6vh;
        margin: 0 5vw;
        border-style: none;
        border-radius: 8px;
        &--textarea {
            height: 22vh;
        }
    }
    &__button {
        position: relative;
        padding-left: 50px;
        padding-right: 50px;
        left: 50%;
        margin: 5vw 0 0 -84px;
    }
}