.photograph {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: map-get($map: $margin, $key: mobile-vertical);
  &__cadre {
    @include cadre(50vw, 50vw);
    border-radius: 100%;
  }
  &__image {
    @include image;
  }
  &__link {
    position: absolute;
    width: 100%;
    height: 115%;
    z-index: 10;
  }
  &__name {
    font-size: map-get($map: $font-size, $key: mobile-big);
    color: map-get($map: $colors, $key: secondary);
    margin-bottom: 5px;
  }
  // Localisation of photographer
  &__textparagraph {
    font-weight: bold;
    // Slogan of photographer
    &:nth-of-type(2) {
      color: map-get($map: $colors, $key: secondary-font-black);
      font-size: map-get($map: $font-size, $key: mobile-small);
    }
    // Pric ofe photographer
    &:nth-of-type(3) {
      color: lighten(map-get($map: $colors, $key: secondary-font-black), 30%);
      font-size: map-get($map: $font-size, $key: mobile-small);
    }
  }
}
