.showing-box {
  display: none;
  position: fixed;
  background-color: map-get($map: $colors, $key: secondary);
  bottom: 0;
  right: 3vw;
  border-radius: 5px 5px 0 0;
  width: 250px;
  font-weight: bold;
  align-items: center;
  padding: 10px 20px;
  & > p,
  i {
    color: black;
    font-size: map-get($map: $font-size, $key: mobile-medium);
  }
  &__price {
    position: absolute;
    right: 20px;
  }
  @include desktop_format-photographer {
    display: flex;
  }
}
