.tag {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  align-items: center;
  &--header {
    @include desktop_format {
      margin-right: 190px;
      align-content: center;
    }
  }
  &--left {
    justify-content: flex-start;
    width: 100%;
  }
  &__link {
    list-style-type: none;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    border: solid 1px
      lighten(map-get($map: $colors, $key: secondary-font-black), 60%);
    background-color: white;
    border-radius: 25px;
    padding: 3px 8px;
    margin: 3px 3px;
    z-index: 10;
    cursor: pointer;
    &--smaller {
      font-size: map-get($map: $font-size, $key: mobile-small);
    }
    &[data-isChecked="true"] {
      background-color: map-get($map: $colors, $key: primary);
      color: map-get($map: $colors, $key: secondary-white);
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      z-index: -10;
      border-radius: 25px;
      background-color: map-get($map: $colors, $key: primary);
    }
    @include desktop_format {
      &:hover {
        &::after {
          opacity: 1;
        }
        &.tag__link {
          color: white;
        }
      }
    }
  }
}
