.body {
  width: 100%;
  margin: 0;
}

* {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  color: #901c1c;
}

p {
  margin: 3px;
}

.photograph {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
@media screen and (min-width: 670px) {
  .photograph {
    min-width: 30%;
    max-width: 35%;
  }
}
.photograph__cadre {
  overflow: hidden;
  height: 50vw;
  width: 50vw;
  position: relative;
  border-radius: 100%;
}
@media screen and (min-width: 670px) {
  .photograph__cadre {
    overflow: hidden;
    height: 18vw;
    width: 18vw;
  }
}
.photograph__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.photograph__link {
  position: absolute;
  width: 100%;
  height: 115%;
  z-index: 10;
}
.photograph__name {
  font-size: 30px;
  color: #d3573c;
  margin-bottom: 5px;
}
.photograph__textparagraph {
  font-weight: bold;
}
.photograph__textparagraph:nth-of-type(2) {
  color: #525252;
  font-size: 10px;
}
.photograph__textparagraph:nth-of-type(3) {
  color: #9f9f9f;
  font-size: 10px;
}

.tag {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  align-items: center;
}
@media screen and (min-width: 670px) {
  .tag--header {
    margin-right: 190px;
    align-content: center;
  }
}
.tag--left {
  justify-content: flex-start;
  width: 100%;
}
.tag__link {
  list-style-type: none;
  position: relative;
  text-decoration: none;
  font-weight: bold;
  border: solid 1px #ebebeb;
  border-radius: 25px;
  padding: 3px 8px;
  margin: 3px 3px;
  z-index: 10;
  cursor: pointer;
}
.tag__link--smaller {
  font-size: 10px;
}
.tag__link[data-isChecked=true] {
  background-color: #901c1c;
  color: #fafafa;
}
.tag__link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -10;
  border-radius: 25px;
  background-color: #901c1c;
}
@media screen and (min-width: 670px) {
  .tag__link:hover::after {
    opacity: 1;
  }
  .tag__link:hover.tag__link {
    color: white;
  }
}

.button {
  background-color: #901c1c;
  color: #fafafa;
  border: none;
  border-radius: 4px;
  padding: 7px 20px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

.media-photograph {
  margin: 0 5vw 5px 5vw;
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
}
@media screen and (min-width: 620px) {
  .media-photograph {
    width: 25vw;
    margin: 10px 0;
  }
}
.media-photograph__cadre {
  overflow: hidden;
  height: 50vw;
  width: 90vw;
  border-radius: 5px;
  cursor: pointer;
}
@media screen and (min-width: 620px) {
  .media-photograph__cadre {
    overflow: hidden;
    height: 25vw;
    width: 25vw;
  }
}
.media-photograph__media {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.media-photograph__description {
  flex-grow: 1;
}
.media-photograph__icon {
  margin-top: 5px;
  height: 12px;
}

.contact-modal {
  position: fixed;
  display: none;
  flex-wrap: wrap;
  align-content: flex-start;
  z-index: 200;
  width: 100vw;
  height: 100vh;
  background-color: white;
  top: 0;
  left: 0;
  background-color: #db8876;
}
.contact-modal__title {
  flex-grow: 1;
  max-width: 75vw;
  margin: 2vh 0 0 5vw;
  font-size: 33px;
  color: black;
}
.contact-modal__cross {
  color: white;
  padding: 2vh;
  font-size: 30px;
  justify-self: right;
  cursor: pointer;
}
.contact-modal__label {
  width: 90vw;
  margin: 2vh 5vw 1vh 5vw;
  font-size: 25px;
  color: black;
  vertical-align: bottom;
}
.contact-modal__input {
  width: 90vw;
  height: 6vh;
  margin: 0 5vw;
  border-style: none;
  border-radius: 8px;
}
.contact-modal__input--textarea {
  height: 22vh;
}
.contact-modal__button {
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
  left: 50%;
  margin: 5vw 0 0 -84px;
}

.showing-box {
  display: none;
}
@media screen and (min-width: 620px) {
  .showing-box {
    display: block;
  }
}

.sorting-media {
  display: none;
  width: fit-content;
  position: relative;
  margin: 10px 0 0 50px;
  align-items: center;
  font-weight: bold;
}
.sorting-media__label {
  color: black;
  margin-right: 20px;
}
.sorting-media__select {
  background-color: #901c1c;
  color: #fafafa;
  border: none;
  border-radius: 4px;
  display: none;
  padding: 10px 30px 10px 15px;
  appearance: none;
}
@media screen and (min-width: 620px) {
  .sorting-media__select {
    display: block;
  }
}
.sorting-media__select:focus > .sorting-media::after {
  background-color: white;
}
.sorting-media__option {
  height: 50px;
  color: white;
}
.sorting-media__option--disabled {
  background-color: #7b1818;
}
.sorting-media::after {
  content: ">";
  font: 17px "Consolas", monospace;
  color: white;
  transform: rotate(90deg);
  right: 10px;
  top: 20%;
  position: absolute;
  pointer-events: none;
  transition: all 1s;
}
@media screen and (min-width: 620px) {
  .sorting-media {
    display: flex;
  }
}

.header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@media screen and (min-width: 670px) {
  .header {
    flex-wrap: unset;
  }
}
.header__imagelink {
  position: relative;
  width: 100%;
  margin: 30px 0 30px 25px;
}
@media screen and (min-width: 670px) {
  .header__imagelink {
    margin-left: 50px;
    width: 30%;
  }
}
.header__imagelink__link {
  display: block;
  position: absolute;
  width: 40%;
  height: 100%;
}
@media screen and (min-width: 670px) {
  .header__imagelink__link {
    width: 100%;
  }
}
.header__imagelink__image {
  width: 40%;
  max-width: 300px;
}
@media screen and (min-width: 670px) {
  .header__imagelink__image {
    width: 100%;
  }
}

.lightbox {
  position: fixed;
  display: none;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 9fr 8fr 1fr 8fr;
  z-index: 200;
  width: 100%;
  height: 100%;
  background-color: white;
  top: 0;
  left: 0;
}
.lightbox__cross {
  font-size: 30px;
  cursor: pointer;
  grid-column-start: 3;
  grid-row-start: 2;
  height: 30px;
  padding: 5px 10px;
  justify-self: center;
}
.lightbox__previous {
  grid-column-start: 1;
  grid-row-start: 2;
  font-size: 30px;
  cursor: pointer;
  align-self: center;
  justify-self: center;
  padding: 10px;
}
.lightbox__next {
  grid-column-start: 3;
  grid-row-start: 2;
  font-size: 30px;
  cursor: pointer;
  align-self: center;
  justify-self: center;
  padding: 10px;
}
.lightbox__media {
  width: 100%;
  align-self: center;
  grid-column-start: 2;
  grid-row-start: 2;
}

.anchor {
  position: fixed;
  opacity: 0;
  width: 130px;
  left: 50%;
  margin: 5px 0 0 -75px;
  padding: 3px 10px;
  text-align: center;
  background-color: #d3573c;
  color: black;
  font-weight: 1000;
  text-decoration: none;
  border-radius: 5px;
  z-index: 100;
}

.main__header {
  position: absolute;
  top: 30px;
  right: 25px;
}
@media screen and (min-width: 670px) {
  .main__header > h1 {
    font-size: 17px;
  }
}

@media screen and (min-width: 670px) {
  .photograph-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.description-photographer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 25px;
}
@media screen and (min-width: 620px) {
  .description-photographer {
    padding: 30px 25px;
    margin: 0 50px;
    background-color: #fafafa;
  }
}
.description-photographer__text {
  flex-grow: 1;
  font-weight: bold;
  width: 60%;
}
@media screen and (min-width: 620px) {
  .description-photographer__text {
    width: unset;
  }
}
.description-photographer__text__title {
  font-size: 30px;
  color: #d3573c;
  margin-top: 15px;
  margin-bottom: 0;
}
@media screen and (min-width: 620px) {
  .description-photographer__text__title {
    font-size: 33px;
  }
}
.description-photographer__text__localisation {
  font-size: 17px;
  color: #901c1c;
}
.description-photographer__text__slogan {
  font-size: 10px;
  color: #525252;
}
.description-photographer__cadre {
  overflow: hidden;
  height: 12vh;
  width: 12vh;
  border-radius: 100%;
}
@media screen and (min-width: 620px) {
  .description-photographer__cadre {
    overflow: hidden;
    height: 10em;
    width: 10em;
    position: absolute;
    right: 5%;
    border-radius: 100%;
  }
}
.description-photographer__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.description-photographer__button {
  position: fixed;
  height: 35px;
  bottom: 5vh;
  left: 50%;
  margin-left: -82px;
  vertical-align: center;
  z-index: 100;
}
@media screen and (min-width: 620px) {
  .description-photographer__button {
    position: unset;
    width: 145px;
    height: 50px;
    margin: 0 15em 0 0;
    font-size: 13px;
  }
}

.media-photographer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (min-width: 620px) {
  .media-photographer-container {
    margin: 0 50px;
  }
}

/*# sourceMappingURL=style.css.map */
