.header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  @include desktop_format {
    flex-wrap: unset;
  }
  &__imagelink {
    position: relative;
    width: fit-content;
    max-width: 40%;
    margin: map-get($map: $margin, $key: mobile-vertical) 0
      map-get($map: $margin, $key: mobile-vertical)
      map-get($map: $margin, $key: mobile-horizon);
    @include desktop_format {
      margin-left: map-get($map: $margin, $key: desktop-horizon);
      
    }
    &__image {
      width: 100%;
      max-width: 300px;
    }
  }
  &__nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }
}
