.anchor {
    position: fixed;
    opacity: 0;
    width: 130px;
    left: 50%;
    margin: 5px 0 0 -75px;
    padding: 3px 10px;
    text-align: center;
    background-color: map-get($map: $colors, $key: secondary);
    color: darken(map-get($map: $colors, $key: secondary-font-black), 100);
    font-weight: 1000;
    text-decoration: none;
    border-radius: 5px;
    z-index: 100;
}

.main {
    &__header{
        position: absolute;
        top: map-get($map: $margin, $key: mobile-vertical);
        right: map-get($map: $margin, $key: mobile-horizon);
    }
}