.description-photographer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 map-get($map: $margin, $key: mobile-horizon);
  &__text {
    flex-grow: 1;
    font-weight: bold;
    width: 60%;
    &__title {
      font-size: map-get($map: $font-size, $key: mobile-big);
      color: map-get($map: $colors, $key: secondary);
      margin-top: 15px;
      margin-bottom: 0;
    }
    &__localisation {
      font-size: map-get($map: $font-size, $key: mobile-medium);
      color: map-get($map: $colors, $key: secondary-font-red);
    }
    &__slogan {
      font-size: map-get($map: $font-size, $key: mobile-small);
      color: map-get($map: $colors, $key: secondary-font-black);
    }
  }

  &__cadre {
    @include cadre(12vh, 12vh);
    border-radius: 100%;
  }
  &__image {
    @include image;
  }
  &__button {
    position: fixed;
    height: 35px;
    bottom: 5vh;
    left: 50%;
    margin-left: -82px;
    vertical-align: center;
    z-index: 100;
  }
}
.showing-box {
  display: none;
}
.sorting-media {
  &__select {
    display: none;
  }
}
